<!-- Image Source: https://unsplash.com/photos/fnztlIb52gU -->

<!-- 
<div class="p-d-flex">
    <div class="p-mr-2">
            <h1 style="text-align: center">Page Not Found!</h1>
    </div>

    <div class="ui-g-6 centered">
        <img style="max-width: 50%; margin: 0 auto" src="assets/img/404.jpg">
    </div>
</div> -->


<div class="p-grid">
    <div class="p-col-6 p-offset-3">
        <h1 style="text-align: center">Page Not Found!</h1>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-8 p-offset-2">
        <img style="max-width: 100%; margin: 0 auto" src="assets/img/404.jpg">
    </div>
</div>


